@mixin animation ($delay, $duration, $name, $easing: ease-out) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-timing-function: $easing;
  animation-fill-mode: forwards; // this prevents the animation from restarting
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $name;
  -webkit-animation-timing-function: $easing;
  -webkit-animation-fill-mode: forwards; // this prevents the animation from restarting
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $name;
  -moz-animation-timing-function: $easing;
  -moz-animation-fill-mode: forwards; // this prevents the animation from restarting
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $name;
  -o-animation-timing-function: $easing;
  -o-animation-fill-mode: forwards; // this prevents the animation from restarting
}

@mixin keyframe ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform ($property) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
}

@mixin trans-mid (){
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
}