html{
    height: 100%;
    width: 100%;
    // background-color: #f9f9f9;
    // background-color: #f0f3f4;
    // overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    // background-color: #f9f9f9;
    // background-color: #f0f3f4;
    // background-color: $blueD;
    background-color: #d43f3a;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.transformFix{
        -webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
}

.n-p {
    padding: 0 !important;
}

.center-tc {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

h1 {
    // font-size: 5vw;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    // font-weight: 700;
}

h2 {
	// font-size: 2vw;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    // font-weight: 700;
}

h3 {
    // font-size: 1.2vw;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    // font-weight: 400;
}

h4 {
    // font-size: 0.95vw;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    // font-weight: 400;
}

p, a, ul {
    font-family:  'Roboto', 'Open Sans', sans-serif;
    // font-weight: 400;
}

p {
    // font-size: 1.1vw;
    @include res (xs) {
        font-size: 1.000em;
    }
}

input, textarea{
    font-family: 'Roboto', 'Open Sans';
}