$icon-font-path: "../../fonts/bootstrap/";

@import '../../bootstrap-sass/assets/stylesheets/_myBootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import 'reset.scss';

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover, &:checked, &:active, &:focus {
        color: #fff;
        text-decoration: none;
    }
}

@import 'variables.scss';

@import '_mediaq.scss';

// ___ MEDIAQUERIES

@import 'default.scss';

@import '_material_design_font-size.scss';

@import '_mixins.scss';

@import 'nav.scss';

@import 'menu.scss';

@import 'contentPanel.scss';

#wr{
    min-height: 100%;
    background-color: #F7F7F7;
    padding: 0 15px 2em 15px;
    // margin-top: 5vh;
    // padding: 1% 2%;
    width: 95%;
    margin-left: 5%;
    #content-wr{
        // opacity: 1;
        // transition-duration: 0.5s;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
        border-radius: 3px;
        overflow: hidden;
        .content__item{
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0px 6px 27px rgba(0,0,0,0.1);
            width: 100%;
            position: relative;
            color: #333;
            &.editing{
                .content__item__inner{
                    display: none;
                }
                form{
                    display: block;
                }
            }
            &.expanded{
                .content__item__text{
                    height: 100%;
                    // padding: 2%;
                }
                .controller__item{
                    // width: 33.3%;
                }
                .controller__item--expande{
                    display: none;
                }
                .controller__item--collapse, .controller__item--edit{
                    display: block;
                }
            }
            &__inner{
                display: block;
                transition: 0.3s;
                position: relative;
            }
            &__header{
                width: 100%;
                padding: 1.5em 2em;
                position: relative;
                // box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1);
            }
            &__titel{
                // margin-bottom: 5%;
            }
            &__text{
                // line-height: 2em;
                // padding: 2%;
                overflow: hidden;
                height: 0;
                // transition: 0.3s;
                &__item{
                    padding:2em;
                    border-bottom: 1px dashed #eee;
                    &:last-child{
                        border-bottom: 0;
                        margin: 0;
                    }
                    &__titel{
                        width: 20%;
                        float: left;
                    }
                    &__text{
                        width: 80%;
                        height: 100%;
                        float: left;
                        padding-left: 3%;
                    }
                }
            }
            form {
                display: none;
                textarea{
                    // margin-top: 2%;
                    width: 100%;
                    display: block;
                    width: 100%;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                }
                input {
                    // margin-bottom: 2%;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px #eee solid;
                    // font-size: 1.5em;
                    // font-weight: 700;
                }
            }
            &--greeting{
                height: 100%;
                width: 100%;
                padding: 5em;
                .content__item__text{
                    height: auto;
                }
                .content__item__titel{
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.controller{
    &--content-panel{
        // width: 100%;
        padding: 7px 0 7px 0;
        height: 64px;
         &__item{
            // border: 0;
            // background-color: #FFF;
            // color: #d43f3a;
            // border-radius: 50%;
            // width: 3em;
            // height: 3em;
            float: right !important;
            &--create{
                
            }
         }
    }
    &--content__item{
        // width: 8em;
        height: 100%;
        // margin-right: 1em;
        padding: 0 1em;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0% 5px 0 0;
    }
    &__item{
        // width: 50%;
        height: 100%;
        // margin: 0 5px;
        background-color: transparent !important;
        float: left;
        cursor: pointer;
        position: relative;
        &--edit{
            background-color: #5bc0de;
            display: none;
        }
        &--cancel{
            background-color: #eee;
        }
        &--save{
            background-color: $greenL;
        }
        &--collapse{
            display: none;
        }
    }
}

// BUTTONS

.btn-raised{
    padding: 1em 2em;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: $redL;
    border-radius: 3px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
    &--full-w{
        width: 100%;
    }
}

.btn-float{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    // font-size: 24px;
    float: left;
    margin: 0 7px;
    cursor: pointer;
    &--success{
        color: #ffffff;
        background-color: $greenM;
    }
    &--red{
        color: #fff;
        background-color: $redL;
    }
    &--grey{
        color: #fff;
        background-color: #9d9d9d;
    }
    &--green{
        color: #fff;
        background-color: $greenM;
    }
    &--blue{
        color: #fff;
        background-color: #2095f2;
    }
    &--orange{
        color: #fff;
        background-color: #FF9800;
    }
    &--white{
        background-color: #FFF;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
        &--red{
            color: $redL;
        }
        &--blue{
            color: $blueL;
        }
        &--grey{
            color: #9d9d9d;
        }
        &--green{
            color: $greenM;
        }
        &--black{
            color: $black;
        }
        &--orange{
            color: #FF9800;
        }
    }
    &--reverse-red{
        color: $redL;
        background-color: #FFF;
    }
    &--center{
        display: block;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
    }
    .glyphicon{
        top: 50%;
        left: 50%;
        @include transform(translateY(-50%) translateX(-50%));
    }
}

// SIGN IN

@import 'signin.scss';

// LABELS

.label{
    // display: inline;
    display: inline-block;
    padding: 1em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    &--green{
        background-color: #4CAF50;
    }
}

@import 'utils.scss';