#menu{
    height: 7vh;
	position: relative;
	top: 0;
	z-index: 10;
	// border: 1px solid #e7eaec;
    background-color: $redL;
    margin-bottom: 2em;
    #menu__container{
    	width: 100%;
    	height: 100%;	
    }
}