#nav{
    width: 5%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    border-right: 1px solid #f0f0f0;
    #nav__overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        // opacity: 0;
        display: none;
        cursor: pointer;
    }
    #nav__bar{
        padding: 1em;
        text-align: center;
        color: $redL;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        &:hover{
            color: $redD;
        }
        .glyphicon-menu-hamburger{
            display: block;
        }
        .glyphicon-remove{
            display: none;
            transition: 0.3s;
        }
        &.nav__bar--extended{
            // background-color: $redL;
            color: #fff;
            .glyphicon-menu-hamburger{
                display: none;
            }
            .glyphicon-remove{
                display: block;
            }
            &:hover{
                .glyphicon-remove{
                    transform: rotate(180deg);
                }
            }
        }
    }
    #nav__sidebar{
        width: 350px;
        height: 100%;
        position: absolute;
        background-color: transparent;
        left: 0;
        top: 0;
        padding-left: 100%;
        overflow: hidden;
        // opacity: 0;
        display: none;
        .starting-point {
            width: 2.5em;
            height: 2.5em;
            position: absolute;
            top: 2.5em;
            left: 2.5em;
            border-radius: 100%;
            .starting-point__filler{
                position: absolute;
                display: inline-block;
                -webkit-transform: translateZ(0) scale(0);
                transform: translateZ(0) scale(0);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                will-change: transform;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                border-radius: 50%;
                background-color: $redD;
                // width: 3000px;
                // height: 3000px;
                // top: -1500px;
                // left: -1500px;
            }
        }
    }
    #nav__user{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5em;
        #nav__user__user-icon{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background-color: $redL;
            cursor: pointer;
            color: #fff;
            font-family: 'Glyphicons Halflings';
            @include trans-mid;
            &:before{
                content: "\e008";
                font-size: 33px;
                width: 33px;
                display: block;
                @include trans-mid;
            }
        }
        #nav__user__modal{
            position: absolute;
            left: 110%;
            background-color: #FFF;
            padding: 2em;
            display: none;
            bottom: 10%;
            box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.26);
            .user-name{
                margin-bottom: 1em;
            }
        }
    }
    #nav__filler{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $redL;
        display: none;
    }
    #adminMenu {
        position: relative;
        display: none;
        .adminMenu__item{
            padding: 1.5em;
            cursor: pointer;
            transition: 0.1s;
            background-color: #FFF;
            .adminMenu__item__link{
                color: $redD;
            }
            &:hover{
                // color: #fff;
                background-color: #fff;
                // border-left: 5px #fff solid;
            }
            &.active{
                @extend .adminMenu__item:hover;
            }
            &__icon{
                float: left;
                margin-right: 0.5em;
            }
        }
    }
}