.signin-wr{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    .form-signin{
        &__header{
            padding: 0.5em;
            background-color: #fff;
        }
        &__flash{
            width: calc( 100% - 2em );
            padding: 1em;
            background-color: $redL;
            margin: 1em 1em 0 1em;  
            color: #fff;  
        }
        &__body{
            padding: 1em;
            .form-signin__input{
                width: 100%;
                height: 50px;
                border: 0;
                background-color: #fff;
                margin-bottom: 1em;
                padding: 0.5em;
            }
            .form-signin__submit-wr{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $redL;
                text-align: center;
                color: #fff;
                position: relative;
                left: 50%;
                cursor: pointer;
                @include transform(translateX(-50%));
                .form-signin__submit{
                    background-color: transparent;
                    border: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .glyphicon-ok{
                    position: absolute;
                    top: 50%;
                    @include transform(translateY(-50%));
                    // bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                &:hover{
                    background-color: $redD;
                }
            }
        }
    }
}