
	<div id="wr" class="">
		<nav id="menu" class="n-p row">
			<div id="menu__container">
				
			</div>
		</nav>
		<div id="content-wr">
		
		</div>
	</div>

	<nav id="nav" class="">
		<div id="nav__overlay"></div>
		
		<div id="nav__sidebar">
			<div class="starting-point">
				<span class="starting-point__filler"></span>
			</div>
		</div>
		<div id="nav__filler"></div>
		<div id="nav__bar">
			<i class="text-title glyphicon glyphicon-menu-hamburger"></i>
			<i class="text-title glyphicon glyphicon-remove"></i>
		</div>
		<div id="nav__user">
			<div id="nav__user__user-icon"></div>
			<div id="nav__user__modal">
				<p class="text-subhead user-name"><%= session.User.email %></p>
				<a class="btn-raised" href="/session/logout">Выйти</a>
			</div>
		</div>
	</nav>

	<script src="/js/admin/vendor/vendor.js"></script>
    <script src="/js/admin/vendor/jquery.iframe-transport.js"></script>

	<script src="/js/admin/mainAdmin.js"></script>
    
	<!--TEMPLATES-->
	<script type="text/javascript" src="/jst.js"></script>
	<!--TEMPLATES END-->

    <script src="/js/admin/routes/admin.js"></script>

    <script src="/js/admin/views/adminApp.js"></script>
    <script src="/js/admin/views/defaultGreeting.js"></script>
    <script src="/js/admin/views/adminMenu.js"></script>
    <script src="/js/admin/views/adminMenuItem.js"></script>
    <script src="/js/admin/views/adminContentModelView.js"></script>
    <script src="/js/admin/views/adminContentView.js"></script>
    <script src="/js/admin/views/adminContentPanelView.js"></script>


    <script src="/js/admin/models/adminMenuItem.js"></script>
    <script src="/js/admin/models/contentModel.js"></script>

    <script src="/js/admin/collections/adminMenu.js"></script>
    <script src="/js/admin/collections/contentCollection.js"></script>