<div class="signin-wr">
	<form action="/session/login" method="POST" class="form-signin">
		<div class="form-signin__header">
			<h1 class="text-title">ВХОД</h1>
		</div>
		<% if (session.flash && session.flash.err) { %>
			<div class="form-signin__flash">
				<ul>
					<% Object.keys(session.flash.err).forEach(function(error){ %>
						<li class="text-body"> <%= JSON.stringify(session.flash.err[error]) %> </li>
					<% }) %>
				</ul>
			</div>
		<% } %>
		<div class="form-signin__body">
			<input class="form-signin__input text-body" required type="text" placeholder="Почта" name="email">
			<input class="form-signin__input text-body" required type="password" placeholder="Пароль" name="password">
			<div class="form-signin__submit-wr">
				<span class="glyphicon glyphicon-ok"></span>
				<input class="form-signin__submit" type="submit" value="">
			</div>
			<!-- <input class="glyphicon glyphicon-ok" type="submit" value="Submit"> -->
			<!-- <span class="glyphicon glyphicon-ok"></span> -->
			<input type="hidden" name="_csrf" value="<%= _csrf %>">
		</div>
	</form>
</div>