<nav>
        <div class="inner-nav-wr">
            <div class="logo-WR">
                <img class="logo" data-original="images/Logo_v.1.png" alt="InterExpo строительство выстовоных стендов">
            </div>
            <ul class="menu-list">
                <li class="menu-list-item"><a class="menu-list-item-link" name="about-company-section">О КОМПАНИИ</a>
                </li>
                <li class="menu-list-item"><a class="menu-list-item-link" name="clients-section">КЛИЕНТЫ</a>
                </li>
                <li class="menu-list-item"><a class="menu-list-item-link" name="portfolio-section">ПОРТФОЛИО</a>
                </li>
                <li class="menu-list-item"><a class="menu-list-item-link" name="services-section">УСЛУГИ</a>
                </li>
                <li class="menu-list-item"><a class="menu-list-item-link" name="reasons-section">ПОЧЕМУ МЫ</a>
                </li>
                <li class="menu-list-item"><a class="menu-list-item-link" name="contacts-section">КОНТАКТЫ</a>
                </li>
            </ul>
            <div class="menu-controllers">
                <div class="telephone-WR">
                    <div class="menu-telephone telephone-img-wr">
                        <img class="telephone-img" data-original="images/auricular6.png" alt="Телефон компании по созданию стендов" class="telephone-menu">
                    </div>
                    <div class="menu-telephone telephone-number">
                        <a href="tel://+7-495-783-91-95" class="open-sans">+7 (495) 783-91-95</a>
                    </div>
                </div>
                <div class="lang-controllers">
                    <div class="lang-controller ru-lang"><a>RU</a>
                    </div>
                    <div class="lang-controller eng-lang"><a>ENG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu hidden-md">
            <div class="menu-line" id="menu-line1"></div>
            <div class="menu-line" id="menu-line2"></div>
            <div class="menu-line" id="menu-line3"></div>
        </div>
    </nav>
    <div class="n-p main-WR">

        <div id="first-section-float-emulation">
            <div class="first-section-titel">
                <h1 class="first-section-float-emulation-titel">ИНТЕР<span>ЭКСПО</span></h1>
                <h4 class="first-section-float-emulation-desc">Дизайн и строительство<br> выставочных стендов</h2>
        </div>
      </div>

      <div class="n-p first-section">
        <!-- <video id="video" autoplay="" loop="">
          <source type="video/ogg" src="video/e1f57611072f66b956bda299e80bdd7f.ogv">
        </video> -->
        <div class="video-overlay"></div>
      </div>

      <div id="about-company-section" class="animation-sec">
        <div class="center-table-cell about-company-section-text-wr">
          <div class="col-xs-24 col-sm-14 inner-center-table-cell">
          <h1 class="about-company-section-titel">Компания ИНТЕР<span>ЭКСПО</span></h1>
          <p class="about-company-section-text">Компания работает в составе холдинга ExpoDesign уже более 15 лет. <br>
Мы являемся официальным застройщиком ВДНХ, 
 а также соорганизаторами следующих выставок:</p>
          <img class="about-company-section-image" data-original="images/Clients-logos.png" alt="" usemap="#company_map">
          <map name="company_map" id="company_map">
<area  alt="" title="" href="http://www.anticorexpo.ru/" shape="rect" coords="14,0,162,143" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.domexpo.ru/" shape="rect" coords="230,0,458,113" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.hunting-expo.ru/" shape="rect" coords="248,142,401,270" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.crane-expo.ru/" shape="rect" coords="495,3,728,115" style="outline:none;" target="_self"     />
          </map>
          </div>
        </div>
      </div>

      <div id="clients-section" class="animation-sec">
        <div class="col-xs-24 col-lg-12 about-clients">
          <div class="center-table-cell col-sm-10 about-clients-text">
          <h1 class="titel-with-square titel-opensans">Нам доверяют</h1>
          <p>Нашими клиентами являются организации разных отраслей:
начиная от Минестерства образования и науки РФ,
до нефтедобывающей компании Weatherford. А также, наша компания является членом Московской торгово-промышленной палаты – крупнейшего объединения предпринимателей в Москве.</p>
</div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
        <div class="clients-square-slider">
          <div class="clients-square-inner-content">
            <!-- <img class="clients-square-inner-content-images logos" data-original="images/200px-Coat_of_Arms_of_Moscow.svg.png" alt=""> -->
            <img class="clients-square-inner-content-images logos" data-original="images/Mosk.png" alt="">
          </div>
          <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images text" data-original="images/saturn.png" alt="">
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text" data-original="images/edm.png" alt="">
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images logos" data-original="images/logo-nexen-tire.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text" data-original="images/pic_94.png" alt="">
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images special" data-original="images/logo_oven.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images logos" data-original="images/gerb_2-fs8.png" alt="">
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images special" data-original="images/man.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images special" data-original="images/Mitsu.png" alt="">
            </div>
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text" data-original="images/Hyundai_logo.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text" data-original="images/3c.png" alt="">
            </div>
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text" data-original="images/deke.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="visible-lg-block col-xs-12 col-sm-6 clients-square">
          <div class="clients-square-slider">        
            <div class="clients-square-inner-content">
              <img class="clients-square-inner-content-images text text-hyuandai" data-original="images/Hyundai_Heavy_Industries_4f046_450x450.png" alt="">
            </div>
            <div class="clients-square-inner-content clients-slider-controller">
              <img class="clients-square-inner-content-images text" data-original="images/left1.png" alt="">
              <!-- <h4 class="open-sans">Еще клиенты</h4> -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 clients-square">
        <div class="clients-square-slider">
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images text" data-original="images/STC.png" alt="">
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images text" data-original="images/eventum.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 clients-square">
        <div class="clients-square-slider">
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images logos" data-original="images/mtpp.png" alt="">
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images text" data-original="images/petra.png" alt="">
            </div>
        </div>
    </div>
    <div class="visible-lg-block col-xs-12 col-sm-6 clients-square">
        <div class="clients-square-slider">
            <div class="clients-square-inner-content clients-slider-controller">
                <img class="clients-square-inner-content-images text" data-original="images/right.png" alt="">
                <!-- <h4 class="open-sans">Еще клиенты</h4> -->
            </div>
            <div class="clients-square-inner-content">
                <img class="clients-square-inner-content-images text" data-original="images/kond.png" alt="">
            </div>
        </div>
    </div>
    </div>
    <div id="portfolio-section">
        <div class="portfolio-section-text">
            <div class="center-table-cell">
                <div class="n-p inner-center-table-cell col-sm-24">
                    <h1 class="titel-opensans titel-with-underline">НАШИ ПРОЕКТЫ</h1>
                </div>
            </div>
        </div>
        <div class="portfolio-section-projects">
            <% _.each(model, function (project, index) { %>
                <% if (index % 6 === 0) { %>
                <div class="portfolio-section-projects-wr">
                <% } %>
                    <div class="col-sm-8 portfolio-section-project">
                        <div class="n-p inner-portfolio-section-project" data-project-img-number="<%= project.images.length %>" data-project="<%= project.name.toLowerCase().replace(/\s/g, '') %>" <% for (var i=0;i<project.mainImg.length;i++) { if(project.mainImg[i].mainImg) { %> data-original="images/Projects/<%= project.mainImg[i].image %>" <% } } %> >
                            <div class="hover-portfolio-section-project">
                                <div class="inner-hover-portfolio-section-project">
                                    <div class="center-table-cell">
                                        <h2><%= project.name %></h2>
                                        <p class="inner-hover-portfolio-section-project-desc"><%= project.subName %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% if (index !== 0 && index % 5 === 0 || index === model.length - 1) { %>
                <div class="clearfix"></div>
                </div>
                <% } %>
            <% }) %>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="sertificate-section" class="animation-sec">
        <div class="sertificate-section-description center-table-cell">
            <div class="inner-sertificate-section-description col-sm-17">
                <h1>Сертификат соответствия</h1>
                <p>Деятельность компании соответствует международным стандартам Системы Менеджмента Качества ISO 9001:2011 (ISO 9001:2008), что подтверждается сертификатом соответствия
                    <br> СТ/СМК/ОС01 RU № 02/14-00371</p>
                <a id="certificate-link" href="images/about2.jpg"><img class="inner-sertificate-section-description-image" data-original="images/about2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div id="services-section">
        <div class="col-xs-24 col-md-8 service-section-description">
            <div class="center-table-cell">
                <h1 class="titel-opensans titel-with-square red">Услуги</h1>
                <p class="col-xs-24">Наша компания предоставляет весь спектр выставочных услуг: от проектирования дизайн-макета, строительства выставочных стендов, декорирования торговых витрин и павильонов, до оформления вневыставочных мероприятий. Обращаясь к нам, Вы можете быть уверены в безупречности получаемых услуг. Для нас дорог каждый клиент, потому, каждому из проектов предоставляется отдельный менеджер, который ведет его от момента обсуждения и разработки плана, до окончательной сдачи стенда.</p>
            </div>
        </div>
        <div class="col-xs-24 n-p col-md-16 service-section-blocks-WR">
            <div class="n-p col-xs-24 col-md-12 service-section-block">
                <div class="inner-service-section-block-wr">
                    <div class="service-section-block-bg" data-original="images/services(2).jpg"></div>
                    <div class="overlay"></div>
                    <div class="center-table-cell inner-service-section-block">
                        <div class="service-section-block__back-btn">
                            <h1 class="text">Назад</h1>
                        </div>
                        <h1 class="titel-opensans inner-service-section-block-titel col-xs-24 col-sm-offset-2 col-sm-20">Большая производственная база</h1>
                        <p class="inner-service-section-block-text col-xs-24 col-sm-offset-2 col-sm-20">Наши складские помещения занимают более 2000 кв.м. (в собственности).<br> Имеем столярное производство (Altendorf), печатное производство (Mimaki), фрезерный станок (MultiCam), производство объемных букв, светотехнических элементов оформления стендов, сборочное производство, собственный автотранспорт.</p>
                    </div>
                </div>
            </div>
            <div class="n-p col-xs-24 col-md-12 service-section-block">
                <div class="inner-service-section-block-wr">
                    <div class="service-section-block-bg"></div>
                    <div class="overlay"></div>
                    <div class="center-table-cell inner-service-section-block">
                        <div class="service-section-block__back-btn">
                            <h1 class="text">Назад</h1>
                        </div>
                        <h1 class="titel-opensans inner-service-section-block-titel col-xs-24 col-sm-offset-2 col-sm-20">Работа с документацией</h1>
                        <p class="inner-service-section-block-text col-xs-24 col-sm-offset-2 col-sm-20">Мы аккредитованы на всех выставочных площадках Москвы. Наша компания берет на себя обязательства разработки и унификации с законами РФ всей необходимой документации, учитывая пожелания Клиента, а также требования и особенности переданного нам проекта.</p>
                    </div>
                </div>
            </div>
            <div class="n-p col-xs-24 col-md-12 service-section-block">
                <div class="inner-service-section-block-wr">
                    <div class="service-section-block-bg"></div>
                    <div class="overlay"></div>
                    <div class="center-table-cell inner-service-section-block">
                        <div class="service-section-block__back-btn">
                            <h1 class="text">Назад</h1>
                        </div>
                        <h1 class="titel-opensans inner-service-section-block-titel col-xs-24 col-sm-offset-2 col-sm-20">Разработка проекта</h1>
                        <p class="inner-service-section-block-text col-xs-24 col-sm-offset-2 col-sm-20">Наша команда специалистов готова предложить вам самые смелые решения в разработке дизайн-проектов. Многолетний опыт позволяет нам использовать проверенные решения, реализуя уникальные стенды наших Клиентов.<br> Мы ценим Ваше время, и, при необходимости, представитель нашей компании всегда может выехать на встречу, для обсуждения деталей проекта. </p>
                    </div>
                </div>

            </div>
            <div class="n-p col-xs-24 col-md-12 service-section-block">
                <div class="inner-service-section-block-wr">
                    <div class="service-section-block-bg"></div>
                    <div class="overlay"></div>
                    <div class="center-table-cell inner-service-section-block">
                        <div class="service-section-block__back-btn">
                            <h1 class="text">Назад</h1>
                        </div>
                        <h1 class="titel-opensans inner-service-section-block-titel col-xs-24 col-sm-offset-2 col-sm-20">Уверенность клиента в InterExpo – наша прерогатива</h1>
                        <p class="inner-service-section-block-text col-xs-24 col-sm-offset-2 col-sm-20">Сотрудничая с нами, Вы можете быть уверенны в надежности, стабильности и своевременности осуществления взятого нами заказа. Каждый сотрудник, задействованный в проекте, подходит к его реализации с максимальной ответственностью и вниманием к каждой детали.</p>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="reasons-section" class="animation-sec">
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                <h1 class="titel--main titel-opensans">Почему мы<span class="">.</span></h1>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                
                <div class="n-p reasons-section-inner-text-wr col-xs-24 ">
                <div class=" icon-wr col-xs-10 col-xs-offset-7 col-sm-6 col-sm-offset-9">
                    <img class="reasons-section-icons" data-original="images/diamond37 (2).png" alt="">
                </div>
                    <h2 class="reasons-section-inner-titel">Качество</h2>
                    <p class="reasons-section-inner-text">Заказывая нам реализацию проекта, мы гарантируем, что аналогов ему не будет. Каждая наша работа качественно и детально проработана, а своими достоинствами мы избрали пунктуальность и креативный подход. </p>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                
                <div class="n-p reasons-section-inner-text-wr col-xs-24 ">
                <div class=" icon-wr col-xs-10 col-xs-offset-7 col-sm-6 col-sm-offset-9">
                    <img class="reasons-section-icons" data-original="images/history3.png" alt="">
                </div>
                    <h2 class="reasons-section-inner-titel">История</h2>
                    <p class="reasons-section-inner-text">Более чем за 15 лет, компания успешно выполнила сотни заказов. Многочисленные партнеры и известность на всей территории Москвы и за ее пределами, все это досталось долгим и упорным трудом.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                
                <div class="n-p reasons-section-inner-text-wr col-xs-24 ">
                    <div class=" icon-wr col-xs-10 col-xs-offset-7 col-sm-6 col-sm-offset-9">
                        <img class="reasons-section-icons" data-original="images/economic.png" alt="">
                    </div>
                    <h2 class="reasons-section-inner-titel">Индивидуальный подход</h2>
                    <p class="reasons-section-inner-text">С учетом Ваших пожеланий, фирменного стиля и выделенного бюджета мы создаем абсолютно уникальный 3-D дизайн выставочного стенда, и после согласования приступаем к его созданию. Нам не важно: Ваш стенд площадью 10 кв.м. или же полноценная застройка выставки 5 000 кв.м., все будет исполнено качественно и в срок</p>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                
                <div class="n-p reasons-section-inner-text-wr col-xs-24 ">
                    <div class=" icon-wr col-xs-10 col-xs-offset-7 col-sm-6 col-sm-offset-9">
                        <img class="reasons-section-icons" data-original="images/tools.png" alt="">
                    </div>
                    <h2 class="reasons-section-inner-titel">Широкий выбор</h2>
                    <p class="reasons-section-inner-text">Мы обладаем широчайшим спектром современных решений поставленных перед нами задач. Качественный, технологический подход позволяет нам осуществлять монтаж стендов любых характеристик, которые ограничиваются лишь полетом вашей мысли.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 reasons-section-blocks">
            <div class="center-table-cell reasons-section-inner-blocks">
                
                <div class="n-p reasons-section-inner-text-wr col-xs-24 ">
                <div class=" icon-wr col-xs-10 col-xs-offset-7 col-sm-6 col-sm-offset-9">
                    <img class="reasons-section-icons" data-original="images/ruble.png" alt="">
                </div>
                    <h2 class="reasons-section-inner-titel">Демократичные цены</h2>
                    <p class="reasons-section-inner-text">Мы формируем цены в зависимости от Вашего бюджета. Наши аналитики помогут построить грамотную экономическую стратегию и систему выплаты, устраивающий обе стороны</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="equipment-section" class="animation-sec">
        <div class="hidden-xs n-p col-sm-11 equipment-section-bg-image"></div>
        <div class="col-xs-24 col-md-13 equipment-section-description">
            <div class="center-table-cell">
                <h1 class="equipment-section-description-titel">Оборудование</h1>
                <p class="equipment-section-description-text">Чтобы получить каталог оборудования или консультацию наших специалистов, заполните поле Вашим адресом электронной почты,
                    <br> и мы свяжемся с Вами</p>
                <div class="col-xs-offset-1 col-xs-22 col-sm-offset-4 col-sm-16 contact-form">
                    <input id="email-placeholder" type="email" placeholder='E-mail'>
                    <div id="emailSenderBtn" class="button"><a class="center-table-cell">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="contacts-section" class="animation-sec">
        <div class="n-p col-xs-24 col-md-12 contacts-section-description">
            <div class="col-xs-offset-1 col-xs-22 col-md-12 col-sm-offset-6 inner-contacts-section-description center-table-cell">
                <h2>Контакты</h2>
                <div class="col-sm-offset-4 col-sm-16 inner-contacts-section-description-block">
                    <img class="inner-contacts-section-description-image center-table-cell" data-original="images/phone1-50.png" alt="">
                    <h4 class="inner-contacts-section-description-text n-p col-xs-20 center-table-cell">+7 (495) 783-91-59</h4>
                </div>
                <div class="col-sm-offset-4 col-sm-16 inner-contacts-section-description-block">
                    <img class="inner-contacts-section-description-image center-table-cell" data-original="images/geo_fence-50.png" alt="">
                    <h4 class="inner-contacts-section-description-text col-xs-20 center-table-cell">Россия 129226 Москва ул. Сельскохозяйственная дом 4, стр. 16</h4>
                </div>
                <div class="col-sm-offset-4 col-sm-16 inner-contacts-section-description-block">
                    <img class="inner-contacts-section-description-image center-table-cell" data-original="images/message-50.png" alt="">
                    <h4 class="inner-contacts-section-description-text n-p col-xs-20 center-table-cell">info@intexpo.ru</h4>
                </div>
            </div>
        </div>
        <div class="n-p col-xs-24 col-md-12 contacts-section-map" id="map_canvas">
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="feedback-section" class="animation-sec">
        <div class="col-xs-24 col-md-15 feedback-section-description">
            <div class="col-xs-22 center-table-cell">
                <h1>Закажите обратный звонок</h1>
                <p class="feedback-section-description-text">Хотите получить бесплатную консультацию
                    <br> или заказать дизайн проект выставочного стенда?
                    <br> Оставьте свои данные, и наш оператор свяжется с Вами.
                    <br> Данные конфиденциальны</p>
                <div class="col-xs-offset-1 col-xs-22 col-sm-offset-3 col-sm-18 contact-form">
                    <input id="name-placeholder" type="text" placeholder='Имя'>
                    <input id="tel-placeholder" type="text" placeholder='Телефон'>
                    <div id="contactSenderBtn" class="button"><a class="center-table-cell">Отправить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs n-p col-sm-9 feedback-section-bg-image"></div>
    </div>
    <footer>
        <div class="inner-footer-sections col-xs-24 col-sm-7">
            <div class="center-table-cell">
                <a href="#" class="social-btn">
                    <div class="social-btn-inner"></div>
                    <svg version="1.1" id="instagramm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <g>
                            <path d="M14.655,3.55C8.474,3.55,3.471,8.562,3.47,14.729c0,6.173,5.003,11.184,11.186,11.184c6.166,0,11.176-5.011,11.176-11.184
    C25.832,8.561,20.821,3.55,14.655,3.55z" />
                            <rect x="5.008" y="34.396" width="19.287" height="62.054" />
                            <path d="M73.395,32.853c-9.382,0-15.673,5.144-18.248,10.022h-0.258v-8.479H36.391H36.39v62.053h19.27V65.751
    c0-8.093,1.541-15.932,11.575-15.932c9.89,0,10.022,9.256,10.022,16.452v30.177H96.53V62.412
    C96.53,45.705,92.925,32.853,73.395,32.853z" />
                        </g>
                    </svg>
                </a>
                <a href="#" class="social-btn">
                    <div class="social-btn-inner"></div>
                    <svg version="1.1" id="facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path d="M74.028,1.958l-12.466-0.02c-14.004,0-23.053,9.285-23.053,23.656v10.907H25.975c-1.083,0-1.96,0.878-1.96,1.961v15.803
  c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96H56.82c1.083,0,1.96-0.878,1.96-1.96V56.225h14.654
  c1.083,0,1.96-0.877,1.96-1.96L75.4,38.462c0-0.52-0.207-1.018-0.574-1.386c-0.368-0.368-0.867-0.575-1.387-0.575H58.781v-9.246
  c0-4.444,1.059-6.7,6.847-6.7l8.398-0.003c1.082,0,1.959-0.878,1.959-1.96V3.918C75.985,2.837,75.109,1.96,74.028,1.958z" />
                    </svg>
                </a>
                <a href="#" class="social-btn">
                    <div class="social-btn-inner"></div>
                    <svg version="1.1" id="vk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <g>
                            <path d="M83.338,49.806c1.237-1.599,2.219-2.882,2.944-3.85c5.223-6.944,7.487-11.38,6.793-13.314l-0.272-0.453
    c-0.181-0.272-0.65-0.522-1.404-0.748c-0.755-0.226-1.721-0.262-2.898-0.113L75.458,31.42c-0.302-0.03-0.604-0.023-0.906,0.021
    c-0.302,0.046-0.498,0.092-0.589,0.136c-0.091,0.046-0.166,0.083-0.226,0.113l-0.181,0.136c-0.151,0.09-0.317,0.249-0.498,0.476
    s-0.333,0.49-0.453,0.793c-1.419,3.653-3.034,7.05-4.846,10.19c-1.117,1.872-2.144,3.496-3.079,4.868
    c-0.936,1.375-1.721,2.386-2.355,3.034c-0.634,0.649-1.208,1.171-1.721,1.562c-0.514,0.394-0.906,0.559-1.177,0.499
    c-0.272-0.06-0.529-0.12-0.77-0.182c-0.423-0.271-0.763-0.64-1.019-1.109c-0.257-0.467-0.43-1.056-0.521-1.766
    c-0.09-0.709-0.144-1.321-0.158-1.835c-0.016-0.513-0.008-1.237,0.023-2.174c0.03-0.936,0.045-1.569,0.045-1.902
    c0-1.146,0.023-2.392,0.068-3.736c0.045-1.343,0.083-2.408,0.113-3.193c0.03-0.784,0.045-1.615,0.045-2.491
    c0-0.874-0.053-1.562-0.159-2.061c-0.106-0.497-0.265-0.98-0.475-1.449c-0.212-0.467-0.521-0.83-0.929-1.086
    c-0.408-0.257-0.913-0.46-1.517-0.612c-1.601-0.363-3.639-0.557-6.114-0.589c-5.616-0.058-9.224,0.304-10.824,1.088
    c-0.634,0.333-1.208,0.785-1.721,1.359c-0.544,0.665-0.619,1.028-0.226,1.086c1.812,0.272,3.094,0.922,3.849,1.948l0.272,0.543
    c0.211,0.394,0.422,1.088,0.634,2.084c0.211,0.996,0.347,2.098,0.408,3.306c0.151,2.204,0.151,4.09,0,5.661
    c-0.151,1.571-0.294,2.793-0.43,3.667c-0.136,0.876-0.34,1.585-0.611,2.128c-0.272,0.545-0.453,0.877-0.544,0.998
    c-0.091,0.12-0.166,0.196-0.226,0.226c-0.393,0.15-0.8,0.226-1.223,0.226c-0.423,0-0.936-0.212-1.54-0.635
    c-0.604-0.421-1.231-1.003-1.879-1.743c-0.65-0.739-1.381-1.774-2.197-3.103c-0.815-1.327-1.661-2.898-2.536-4.709l-0.724-1.314
    c-0.453-0.844-1.072-2.075-1.857-3.69c-0.785-1.615-1.48-3.177-2.083-4.688c-0.242-0.633-0.604-1.116-1.087-1.449l-0.226-0.136
    c-0.151-0.12-0.393-0.249-0.725-0.384c-0.333-0.136-0.679-0.234-1.042-0.295l-12.409,0.09c-1.268,0-2.128,0.288-2.581,0.862
    l-0.181,0.271c-0.091,0.152-0.136,0.394-0.136,0.725c0,0.333,0.091,0.74,0.272,1.222c1.812,4.258,3.782,8.364,5.91,12.318
    c2.129,3.956,3.978,7.142,5.548,9.557c1.57,2.417,3.17,4.695,4.801,6.839s2.71,3.517,3.238,4.12
    c0.528,0.605,0.943,1.058,1.245,1.359l1.132,1.088c0.724,0.724,1.789,1.592,3.193,2.604c1.404,1.012,2.958,2.008,4.665,2.988
    c1.705,0.982,3.691,1.781,5.955,2.401s4.468,0.869,6.612,0.747h5.208c1.057-0.09,1.857-0.421,2.4-0.996l0.181-0.226
    c0.12-0.18,0.234-0.46,0.34-0.837c0.105-0.377,0.159-0.793,0.159-1.245c-0.031-1.298,0.068-2.47,0.294-3.51
    c0.226-1.042,0.483-1.826,0.77-2.356c0.287-0.527,0.611-0.973,0.974-1.336c0.362-0.363,0.618-0.58,0.77-0.656
    c0.151-0.074,0.272-0.127,0.362-0.159c0.724-0.241,1.577-0.007,2.559,0.702c0.981,0.711,1.902,1.585,2.763,2.627
    c0.86,1.042,1.894,2.211,3.102,3.51c1.207,1.298,2.264,2.264,3.17,2.898l0.906,0.545c0.604,0.361,1.388,0.693,2.355,0.996
    c0.966,0.301,1.812,0.377,2.536,0.226l11.594-0.182c1.147,0,2.038-0.188,2.672-0.566c0.634-0.375,1.011-0.793,1.132-1.245
    c0.12-0.453,0.128-0.964,0.023-1.539c-0.106-0.573-0.212-0.973-0.317-1.199c-0.106-0.226-0.204-0.416-0.295-0.566
    c-1.51-2.717-4.393-6.054-8.65-10.009l-0.091-0.09l-0.045-0.046l-0.045-0.044h-0.045c-1.933-1.842-3.155-3.08-3.668-3.715
    c-0.936-1.206-1.148-2.429-0.634-3.667C79.625,54.804,80.983,52.826,83.338,49.806z" />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="inner-footer-sections col-xs-24 col-sm-10">
            <div class="center-table-cell">
                <h4>© 2012 — 2015 «ИНТЕРЭКСПО»</h4>
            </div>
        </div>
        <div class="inner-footer-sections col-xs-24 col-sm-7">
            <div class="center-table-cell">
                <h4>Made by <a href="http://threezeta.com/">ThreeZetaStudio</a></h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </footer>
    <div class="modal-window">
        <div class="col-xs-24 col-sm-9 modal-window-text-wr">
            <div class="inner-modal-window-text-wr">
                <% _.each(model, function (project, index) { %>
                    <div class="modal-window-text" id="<%= project.name.toLowerCase().replace(/\s/g, '') %>">
                        <div class="inner-modal-window-text center-table-cell">
                            <h1 class="modal-window-text-company-name titel-opensans"><%= project.fullName %></h1>
                            <p class="modal-window-text-company-char"><%= project.place %></p>
                            <p class="modal-window-text-company-char"><%= project.description %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="modal-window-text-controllers">
                <div class="inner-modal-window-text-controller close-project">
                    <i class="glyphicon glyphicon-remove"></i>
                </div>
                <div class="inner-modal-window-text-controller prev-project">
                    <p class="center-table-cell">Предыдущий проект</p>
                </div>
                <div class="inner-modal-window-text-controller next-project">
                    <p class="center-table-cell">Следующий проект</p>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-sm-15 modal-window-image-wr">
        </div>
    </div>
    <div id="loaderModal" class="deactive">
        <div class="inner">
            <h1 class="titel center-table-cell">ЗАГРУЗКА</h1>
        </div>
        
    </div>
    <div class="clearfix"></div>

    </div>