<!DOCTYPE html>
<html>
  <head>
    <title>InterExpo AdminPanel</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/js/dependencies/modernizr.js"></script>
	 <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500,300,900&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/admin/importer.css">
    <!-- <link rel="stylesheet" href="/styles/admin/sweet-alert.css"> -->
	
	<%- body %>

  
<script src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
<script src="/js/admin/vendor/sweet-alert.min.js"></script>
  </body>
</html>