<a class="adminMenu__item__link" href="#<%= name %>">
<% if (type == 'list') { %>
	<i class="adminMenu__item__icon glyphicon glyphicon-list"></i>
<% } %>
<h4><%= name.charAt(0).toUpperCase() + name.slice(1) %></h4>
</a>