<h2 class="n-p col-sm-12 text-display-2"><%= name.toUpperCase() %></h2>

<div class="col-sm-12 controller controller--content-panel">
	<!-- <div class="controller--content-panel__item">
		<p>Add new</p>
	</div>
	<div class="controller--content-panel__item">
		<p>Refresh</p>
	</div> -->
	<!-- <button class="controller--content-panel__item controller--content-panel__item--create"><i class="glyphicon glyphicon-plus"></i></button>
	<button class="controller--content-panel__item controller--content-panel__item--refresh"><i class="glyphicon glyphicon-refresh"></i></button> -->
	<span class="btn-float btn-float--reverse-red controller--content-panel__item controller--content-panel__item--create">
		<i class="glyphicon glyphicon-plus"></i>
	</span>
	<span class="btn-float btn-float--reverse-red controller--content-panel__item controller--content-panel__item--refresh">
		<i class="glyphicon glyphicon-refresh"></i>
	</span>
</div>

<div class="col-sm-24 content-panel__form-wr"></div>