	<div class="content__item__inner">
		<div class="content__item__header">
			<h3 class="text-title"><%= name %></h3>
			<div class="controller controller--content__item">
				<div class="controller__item controller__item--collapse">
					<!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
					<span class="btn-float btn-float--white btn-float--white--orange btn-float--center">
						<i class="glyphicon glyphicon-chevron-up"></i>
					</span>
				</div>
				<div class="controller__item controller__item--expande">
					<span class="btn-float btn-float--white btn-float--white--orange btn-float--center">
						<i class="glyphicon glyphicon-chevron-down"></i>
					</span>
				</div>
				<div class="controller__item controller__item--edit">
					<!-- <i class="glyphicon glyphicon-pencil"></i> -->
					<span class="btn-float btn-float--white btn-float--white--blue btn-float--center">
						<i class="glyphicon glyphicon-pencil"></i>
					</span>
				</div>
				<div class="controller__item controller__item--delete">
					<!-- <i class="glyphicon glyphicon-remove"></i> -->
					<span class="btn-float btn-float--white btn-float--white--red btn-float--center">
						<i class="glyphicon glyphicon-remove"></i>
					</span>
				</div>
			</div>
		</div>
		<ul class="content__item__text">
			<% for (var characteristic in characteristics) { %>
				<% if (characteristics[characteristic].view_type === 'text' || characteristics[characteristic].view_type === 'varchar' || characteristics[characteristic].view_type === 'integer') { %>
					<li class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4 class="text-subhead"><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<p class="text-body"> <%= characteristics[characteristic].innerText %></p>
						</div>
						<div class="clearfix"></div>
					</li>
				<% } else if (characteristics[characteristic].view_type === 'img') { %>
					<li class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4 class="text-subhead"><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<% if (characteristics[characteristic].innerText) { %> 
								<% for (var i=0; i<characteristics[characteristic].innerText.length; i++) { %>
									<p class="text-body"><img style="width:20%;float:left;margin-right:15px;"src="images/Projects/<%= characteristics[characteristic].innerText[i] %>"></p>
								<% } %>
							<% } %>
						</div>
						<div class="clearfix"></div>
					</li>
				<% } %> 
			<% } %>
		</ul>
	</div>
	<form enctype="multipart/form-data">
		<div class="content__item__header">
			<input class="text-title" type="text" value="<%= name %>" name="name">
			<div class="controller controller--content__item">
				<div class="controller__item controller__item--cancel">
					<!-- <i class="glyphicon glyphicon-chevron-left"></i> -->
					<span class="btn-float btn-float--white btn-float--white--grey btn-float--center">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</span>
				</div>
				<div class="controller__item controller__item--save">
					<!-- <i class="glyphicon glyphicon-ok"></i> -->
					<span class="btn-float btn-float--white btn-float--white--green btn-float--center">
						<i class="glyphicon glyphicon-ok"></i>
					</span>
				</div>
				<div class="controller__item controller__item--delete">
					<!-- <i class="glyphicon glyphicon-remove"></i> -->
					<span class="btn-float btn-float--white btn-float--white--red btn-float--center">
						<i class="glyphicon glyphicon-remove"></i>
					</span>
				</div>
			</div>
		</div>
		<ul class="content__item__text">
			<% for (var characteristic in characteristics) { %>
				<% if (characteristics[characteristic].view_type === 'text' || characteristics[characteristic].view_type === 'varchar' || characteristics[characteristic].view_type === 'integer') { %>
					<li class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4 class="text-subhead"><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<textarea data-type="application/json" name="<%= characteristic %>" <%if (characteristics[characteristic].required){
							%> required="required" <%
							}%> type="text" data-dbFieldName="<%= characteristic %>"><%= characteristics[characteristic].innerText %></textarea>
						</div>
						<div class="clearfix"></div>
					</li>
				<% } else if (characteristics[characteristic].view_type === 'img') { %>
					<li class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4 class="text-subhead"><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<% if (characteristics[characteristic].innerText) { %>
								<% for (var i=0; i<characteristics[characteristic].innerText.length; i++) { %>
									<div style="margin-bottom:15px;" class="col-sm-24 img_container" data-imgId="<%= characteristics[characteristic].img_id[i] %>">
										<p class="text-body"></p>
										<img style="width:20%;float:left;margin-right:15px;"src="images/Projects/<%= characteristics[characteristic].innerText[i] %>">
										<span class="img_delete_controller btn-float btn-float--red" data-imgId="<%= characteristics[characteristic].img_id[i] %>">
											<i class="glyphicon glyphicon-remove"></i>
										</span>
										<% if (!characteristics[characteristic].super_state[i]) { %> 
										<span class="img_main_controller btn-float btn-float--success" data-imgId="<%= characteristics[characteristic].img_id[i] %>">
											<i class="glyphicon glyphicon-ok"></i>
										</span>
										<% } else { %>
										<p class="label label--green">Является главным изображением</p>
										<% } %>
									</div>
								<% } %>
							<% } %>
							<input <% if ( characteristics[characteristic].img_config.multiple ) { %> multiple="multiple" <% } %> <%if (characteristics[characteristic].required){
							%> required="required" <%
							}%> type="file" name="uploadFile" data-dbFieldName="<%= characteristic %>"/>
						</div>
						<div class="clearfix"></div>
					</li>
				<% } %> 
			<% } %>
		</ul>
	</form>