<div class="content__item content__item--greeting">
	<h1 class="content__item__titel text-display-3">INTEREXPO<br>АДМИНИСТРАТИВНАЯ ПАНЕЛЬ</h1>
	<div class="content__item__text">
		<a class="text-button btn-raised" href="/adm#projects">Перейти к списку проектов</a>
	</div>
</div>